html,
body,
.page {
    height: 100%; /* needed for proper layout */
}
body {
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: "Montserrat";
}
a:hover{
    text-decoration: none;
}
.inner-container{
    max-width: 1100px;
    margin: 0px auto;
}
.s-header{
    height: 245px;
    background: url("../img/head-bg.jpg");
    background-size: 100% auto;
    background-position: 50% 0px;
}
.s-header .inner-container{
    position: relative;
}
.header-logo{
    position: absolute;
    left: 0px;
    top: 30px;
}
.main-menu{
    position: absolute;
    top: 45px;
    right: 0px;
    display: flex;
}
.main-menu li{
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    list-style-type: none;
}
.main-menu li a{
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    list-style-type: none;
    color: white;
    margin-left: 30px;
 }
.main-menu li a:hover{
    font-size: 15px;
    color: #ff6c00;
    text-transform: uppercase;
    text-decoration: none;
}
.header-title{
    top: 115px;
    font-size: 32px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    position: absolute;
    left: 0px;
}
.header-search-form{
    position: absolute;
    top: 165px;
    left: 0px;
}
.header-search-form input{
    width: 275px;
    padding: 0px 30px 0px 37px;
    height: 34px;
    border-radius: 3px;
    border: none;
    font-size: 15px;
}
.header-search-form input::placeholder{
    font-size: 15px;
    color: rgb(133, 133, 133);
    /*line-height: 32px;*/
}
.header-search-form button{
    position: absolute;
    top: 7px;
    left: 2px;
    background: none;
    border: none;
    cursor: pointer;
}
.header-search-form button i{
    color: #c4c4c4;
    font-size: 20px;
}
.banner-text-top {
    font-size: 24px;
    color: rgb(60, 170, 247);
}
.banner-text-bot{
    color: #2d2d2d;
    font-size: 12px;
}
.webinars{
    border-top: 2px solid rgb(60, 170, 247);
    border-bottom: 2px solid rgb(60, 170, 247);
}
.webinars .inner-container{
    padding: 25px 0px;
    background-image: url("../img/bannder-bg.jpg");
    background-position: calc(100% - 150px) 50%;
    background-size: auto 100%;
    background-repeat: no-repeat;
    position: relative;
}
.banner-text-top,
.banner-text-bot{
    /*max-width: calc(100% - 600px);*/
}
.orange-button{
    width: 185px;
    height: 38px;
    border-radius: 4px;
    border: 2px solid #ff6c00;
    display: inline-block;
    line-height: 36px;
    color: #ff6c00;
    font-size: 15px;
    text-align: center;
    transition:all .2s ease-in-out
}
.orange-button:hover{
    background: #ff6c00;
    color: white !important;
}
.orange-button:hover{
    color: #ff6c00;
    text-decoration: none;
}
.register-button-button{
    position: absolute;
    right: 0px;
    top: calc(50% - 19px);
}
.content-3-lines{

}
.bg-gray{
    background: #e9ecef;
}
.group-title{
    font-size: 20px;
    color: rgb(76, 76, 76);
}
.content-3-lines .inner-container{
    padding: 55px 0px 50px;
}
.group-list{
    list-style-type: none;
    margin-bottom: 0px;
}
.group-list li{

}
.ms-dig{
    width: 80px;
    height: 80px;
    color: #ff6c00;
    border: 3px solid #ff6c00;
    font-size: 48px;
    text-align: center;
    line-height: 80px;
    border-radius: 80px;
    margin: 0px auto 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-ms{
    padding: 40px 0px;
}
.main-ms .inner-container{
    padding: 0px 7px;
}
.ms-card{
    padding: 0px 7px;
    display: flex;
}
.ms-card-title{
    text-align: center;
    font-size: 20px;
    color: #2d2d2d;
    margin-bottom: 10px;
}
.ms-card-text{
    text-align: center;
    font-size: 15px;
    color: #858585;
    margin-bottom: 15px;
}
.ms-card-code{
    margin-bottom: 20px;
    background: #e9ecef;
    font-size: 12px;
    color: rgb(133, 133, 133);
    line-height: 1.667;
    text-align: left;
    border-radius: 3px;
    padding: 10px 15px;
    font-family: "Courier New";
}
.ms-card-button{
    display: inline-block;
    font-size: 12px;
    color: rgb(101, 101, 101);
    text-transform: uppercase;
    line-height: 38px;
    text-align: center;
    height: 38px;
    border-radius: 4px;
    border: 1px solid rgb(101, 101, 101);
    width: calc(100% - 74px);
    position: absolute;
    bottom: 40px;
    left: 37px;
    transition:all .2s ease-in-out
}
.ms-card-button:hover{
    border: 1px solid #ff6c00;
    background: #ff6c00;
    color: white !important;
}
.ms-card a img{
    margin: 0px 10px;
}
.ms-card-button:hover{
    text-decoration: none;
    color: rgb(101, 101, 101);
}
.ms-card-inner-container{
    background: white;
    padding: 45px 37px 75px;
    position: relative;
    width: 100%;
}
.build-section{
    padding: 40px 0px;
}
.build-section .group-title{
    font-size: 20px;
    margin-bottom: 10px;
}
.build-gray-text{
    font-size: 15px;
    color: #858585;
}
.build-section .row > div{
    padding-left: 50px;
    padding-right: 50px;
}
.group-list{
    padding: 0px;
}
.blue-title{
    color: rgb(60, 170, 247);
}
.build-section .group-list a{
    font-size: 15px;
    color: rgb(60, 170, 247);
}
.build-section .group-list a:hover{
    color: rgb(60, 170, 247);
    text-decoration: none;
}
.footer-menu-container{
    background: #2d2d2d;
    padding: 30px 0 15px;
}
.footer-menu{
    padding: 0px;
    display: flex;
    text-align: center;
    list-style-type: none;
    justify-content: center;
}
.footer-menu a{
    font-size: 14px;
    color: rgb(157, 165, 158);
    font-weight: bold;
    margin: 0px 10px 10px;
    position: relative;
}
.footer-menu a:hover{
    color: rgb(157, 165, 158);
    text-decoration: none;
}
.footer-menu li{
    position: relative;
}
.footer-menu li:after{
    content: '';
    background: rgb(157, 165, 158);
    width: 2px;
    height: 13px;
    position: absolute;
    top: 6px;
    right: -1px;
}
.footer-menu li:last-child:after{
    display: none;
}
.footer-cop-container{
    padding: 17px 0px;
    background: #1b1b1b;
    font-size: 12px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: center;
}
.blue-sk li{
    margin-bottom: 12px;
}
.blue-sk img{
    margin-right: 15px;
}
.ms-dig.no-round{
    border: none;
    width: 80px;
    height: 80px;
}
.ms-support .ms-card{
    margin-bottom: 15px;
}
.ms-support .row:last-child .ms-card{
    margin-bottom: 0px;
}
.ms-support .ms-card .ms-card-inner-container{
    width: 100%;
    padding: 60px 50px 60px;
}
.bs-b .group-title{
    font-size: 24px;
}
.build-section.bs-b .group-list a{
    font-size: 14px;
    padding: 5px 35px;
    position: relative;
    display: inline-block;
}
.build-section.bs-b .group-list a img{
    position: absolute;
    left: 0px;
    top: 5px;
}
.ms-overview .ms-card-text{
    margin-bottom: 30px;
}
.faq-sub-title{
    font-size: 15px;
    text-transform: uppercase;
    padding-left: 0px !important;
}
.faq-sub-title:after{
    display: none !important;
}
.build-section.bs-b.faq-sect li{
    padding-left: 15px;
    position: relative;
    margin-bottom: 8px;
}
.build-section.bs-b.faq-sect li:hover a{
    color: #444444;
}
.build-section.bs-b.faq-sect li:hover:after{
    background: #444444;
}
.build-section.bs-b.faq-sect li:after{
    content: '';
    width: 2px;
    height: 2px;
    border-radius: 2px;
    position: absolute;
    top: 12px;
    left: 8px;
    background: rgb(60, 170, 247);;
}
.build-section.bs-b.faq-sect li a{
    padding: 0px;
    font-size: 12px;
    /*z-index: 1051;*/
}
.build-section.bs-b.faq-sect .row > div{
    padding-left: 15px;
    padding-right: 15px;
}
a:focus {outline:0;}
.modal-backdrop.fade.show{
    display: none !important;
}
.build-section.know-base .row > div{
    padding-left: 15px;
    padding-right: 15px;
}
.modal-faq{
    width: 1100px;
    padding: 25px 20px;
    max-width: 100%;
    position: fixed;
    max-height: 400px;
    overflow-y: auto;
    top: calc(50% - 200px);
    z-index: 10;
    background: white;
    left: calc(50% - 550px);
    border: 1px solid #e9ecef;
    display: none;
}
.modal-faq-close{
    width: 17px;
    height: 17px;
    background: url("../img/x.png");
    position: absolute;
    top: 17px;
    right: 13px;
    cursor: pointer;

}
.faq-modal-title{
    font-size: 20px;
    font-weight: 300;
    color: #2d2d2d;
    margin-bottom: 5px;
}
.faq-modal-date{
    font-size: 12px;
    color: #858585;
    font-weight: 300;
    margin-bottom: 15px;
}
.modal-faq p{
    font-weight: 300;
    color: #4c4c4c;
    margin-bottom: 5px;
    font-size: 14px;
}
.modal-faq-code{
    color: #4c4c4c;
    font-family: "Courier New";
    font-size: 14px;
    padding: 25px 20px;
    background: #e9ecef;
    margin-bottom: 10px;
}
.faq-modal-link-content{
    display: none;
}
.ref-section .inner-container{
    display: flex;
}
.ref-content{
    padding-left: 45px;
    padding-top: 50px;
    padding-bottom: 25px;
    font-size: 14px;
    /*width: 100%;*/
}
.ref-menu{
    width: 350px;
    background: #e9ecef;
    padding-left: 35px;
    position: relative;
    display: flex;
    padding-right: 0px;
    font-size: 16px;
    font-weight: 300;
    padding-top: 50px;
    padding-bottom: 20px;
    transition: all .2s ease-in-out
}
.ref-menu.hidden{
    padding-left: 50px;
    width: 35px;
}
.ref-menu ul{
    list-style-type: none;
    padding: 0px;
    width: 315px;
}
.ref-menu ul li{
    margin-bottom: 15px;
    padding-right: 20px;
}
.ref-menu ul li a{
    color: #4c4c4c;
}
.ref-menu ul li a:hover{
    text-decoration: none;
    color: rgb(60, 170, 247);
}
.ref-menu ul li ul{
    padding: 15px 20px;
    background: white;
}
.ref-menu ul li ul li{
    font-size: 12px;
    padding-left: 20px;
    font-size: 12px;
    position: relative;
    margin-bottom: 5px;
}
.ref-menu ul li ul li:after{
    content: '';
    position: absolute;
    top: 8px;
    left: 10px;
    width: 2px;
    height: 2px;
    background: #4c4c4c;
}
.ref-menu ul li ul li:hover:after{
    background: rgb(60, 170, 247);
}
.ref-content h2{
    margin-bottom: 22px;
}
.ref-menu ul li.active ul{
    padding-top: 15px;
}
.ref-menu ul li.active ul li:first-child{
    margin-top: 5px;
}
.ref-content h3{
    font-size: 20px;
    margin-bottom: 15px;
}
.ref-content ul{
    list-style-type: none;
    padding-left: 20px;
}
.ref-content ul li:first-line {
    padding-left: 10px;
}
.ref-content ul li{
    position: relative;
}
.ref-content ul li:after{
    content: '';
    position: absolute;
    left: -6px;
    top: 9px;
    width: 3px;
    height: 3px;
    border-radius: 3px;
    background: #4c4c4c;
}
.code{
    font-family: "Courier New";
    font-size: 14px;
    background: #e9ecef;
    padding: 20px;
    margin-bottom: 10px;
}
.collapse-menu{
    color: #03a9f4;
    font-size: 14px;
    position: absolute;
    top: 20px;
    right: 25px;
    padding-left: 22px;
    cursor: pointer;
}
.collapse-menu img{
    position: absolute;
    left: 0px;
    top: 2px;
}
.ref-menu-container{
    width: 315px;
    overflow: hidden;
    position: relative;
}
.uncollapse{
    position: absolute;
    top: 20px;
    left: 17px;
    transform: rotate(180deg);
    display: none;
    cursor: pointer;
}
.menu-orders{
    padding-left: 32px;
    background: url("../img/menu-b.png") 0px 0px no-repeat;
    color: #03a9f4;
}
.menu-orders a:hover,
.menu-orders a{
    text-decoration: none;
    color: #03a9f4;
}
a.group-title:hover{
    color: #03a9f4;
    text-decoration: none;
}