html,
body,
.page {
    height: 100%; /* needed for proper layout */
    overflow-x: hidden;
}
body {
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: "Montserrat";
}
a:hover{
    text-decoration: none;
}
.inner-container{
    max-width: 1100px;
    margin: 0px auto;
}
.s-header{
    height: 245px;
    background: url("../img/head-bg.jpg");
    background-size: 100% auto;
    background-position: 50% 0px;
}
.s-header .inner-container{
    position: relative;
}
.header-logo{
    position: absolute;
    left: 0px;
    top: 30px;
}
.main-menu{
    position: absolute;
    top: 45px;
    right: 0px;
    display: flex;
}
.main-menu li{
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    list-style-type: none;
}
.main-menu li a{
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    list-style-type: none;
    color: white;
    margin-left: 30px;
 }
.main-menu li:hover > a{
    color: #ff6c00;
}
.main-menu li a:hover{
    font-size: 15px;
    color: #ff6c00;
    text-transform: uppercase;
    text-decoration: none;
}
.header-title{
    top: 115px;
    font-size: 32px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    position: absolute;
    left: 0px;
}
.header-search-form{
    position: absolute;
    top: 165px;
    left: 0px;
}
.header-search-form input{
    width: 275px;
    padding: 0px 30px 0px 37px;
    height: 34px;
    border-radius: 3px;
    border: none;
    font-size: 15px;
}
.header-search-form input::placeholder{
    font-size: 15px;
    color: rgb(133, 133, 133);
    /*line-height: 32px;*/
}
.header-search-form button{
    position: absolute;
    top: 7px;
    left: 2px;
    background: none;
    border: none;
    cursor: pointer;
}
.header-search-form button i{
    color: #c4c4c4;
    font-size: 20px;
}
.banner-text-top {
    font-size: 24px;
    color: rgb(60, 170, 247);
}
.banner-text-bot{
    color: #2d2d2d;
    font-size: 12px;
}
.webinars{
    border-top: 2px solid rgb(60, 170, 247);
    border-bottom: 2px solid rgb(60, 170, 247);
}
.webinars .inner-container{
    padding: 25px 0px;
    background-image: url("../img/bannder-bg.jpg");
    background-position: calc(100% - 150px) 50%;
    background-size: auto 100%;
    background-repeat: no-repeat;
    position: relative;
}
.banner-text-top,
.banner-text-bot{
    /*max-width: calc(100% - 600px);*/
}
.orange-button{
    width: 185px;
    height: 38px;
    border-radius: 4px;
    border: 2px solid #ff6c00;
    display: inline-block;
    line-height: 36px;
    color: #ff6c00;
    font-size: 15px;
    text-align: center;
    transition:all .2s ease-in-out
}
.orange-button:hover{
    background: #ff6c00;
    color: white !important;
}
.orange-button:hover{
    color: #ff6c00;
    text-decoration: none;
}
.register-button-button{
    position: absolute;
    right: 0px;
    top: calc(50% - 19px);
}
.content-3-lines{

}
.bg-gray{
    background: #e9ecef;
}
.group-title{
    font-size: 20px;
    color: rgb(76, 76, 76);
}
.content-3-lines .inner-container{
    padding: 55px 0px 50px;
}
.group-list{
    list-style-type: none;
    margin-bottom: 0px;
}
.group-list li{

}
.ms-dig{
    width: 80px;
    height: 80px;
    color: #ff6c00;
    border: 3px solid #ff6c00;
    font-size: 48px;
    text-align: center;
    line-height: 80px;
    border-radius: 80px;
    margin: 0px auto 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-ms{
    padding: 40px 0px;
}
.main-ms .inner-container{
    padding: 0px 7px;
}
.ms-card{
    padding: 0px 7px;
    display: flex;
}
.ms-card-title{
    text-align: center;
    font-size: 20px;
    color: #2d2d2d;
    margin-bottom: 10px;
}
.ms-card-text{
    text-align: center;
    font-size: 15px;
    color: #858585;
    margin-bottom: 15px;
}
.ms-card-code{
    margin-bottom: 20px;
    background: #e9ecef;
    font-size: 12px;
    color: rgb(133, 133, 133);
    line-height: 1.667;
    text-align: left;
    border-radius: 3px;
    padding: 10px 15px;
    font-family: "Courier New";
}
.ms-card-button{
    display: inline-block;
    font-size: 12px;
    color: rgb(101, 101, 101);
    text-transform: uppercase;
    line-height: 38px;
    text-align: center;
    height: 38px;
    border-radius: 4px;
    border: 1px solid rgb(101, 101, 101);
    width: calc(100% - 74px);
    position: absolute;
    bottom: 40px;
    left: 37px;
    transition:all .2s ease-in-out
}
.ms-card-button:hover{
    border: 1px solid #ff6c00;
    background: #ff6c00;
    color: white !important;
}
.ms-card a img{
    margin: 0px 10px;
}
.ms-card-button:hover{
    text-decoration: none;
    color: rgb(101, 101, 101);
}
.ms-card-inner-container{
    background: white;
    padding: 45px 37px 75px;
    position: relative;
    width: 100%;
}
.build-section{
    padding: 40px 0px;
}
.build-section .group-title{
    font-size: 20px;
    margin-bottom: 10px;
}
.build-gray-text{
    font-size: 15px;
    color: #858585;
}
.build-section .row > div{
    padding-left: 50px;
    padding-right: 50px;
}
.group-list{
    padding: 0px;
}
.blue-title{
    color: rgb(60, 170, 247);
}
.build-section .group-list a{
    font-size: 15px;
    color: rgb(60, 170, 247);
}
.build-section .group-list a:hover{
    color: rgb(60, 170, 247);
    text-decoration: none;
}
.footer-menu-container{
    background: #2d2d2d;
    padding: 30px 0 15px;
}
.footer-menu{
    padding: 0px;
    display: flex;
    text-align: center;
    list-style-type: none;
    justify-content: center;
}
.footer-menu a{
    font-size: 14px;
    color: rgb(157, 165, 158);
    font-weight: bold;
    margin: 0px 10px 10px;
    position: relative;
}
.footer-menu a:hover{
    color: rgb(157, 165, 158);
    text-decoration: none;
}
.footer-menu li{
    position: relative;
}
.footer-menu li:after{
    content: '';
    background: rgb(157, 165, 158);
    width: 2px;
    height: 13px;
    position: absolute;
    top: 6px;
    right: -1px;
}
.footer-menu li:last-child:after{
    display: none;
}
.footer-cop-container{
    padding: 17px 0px;
    background: #1b1b1b;
    font-size: 12px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: center;
}
.blue-sk li{
    margin-bottom: 12px;
}
.blue-sk img{
    margin-right: 15px;
}
.ms-dig.no-round{
    border: none;
    width: 80px;
    height: 80px;
}
.ms-support .ms-card{
    margin-bottom: 15px;
}
.ms-support .row:last-child .ms-card{
    margin-bottom: 0px;
}
.ms-support .ms-card .ms-card-inner-container{
    width: 100%;
    padding: 60px 50px 60px;
}
.bs-b .group-title{
    font-size: 24px;
}
.build-section.bs-b .group-list a{
    font-size: 14px;
    padding: 5px 35px;
    position: relative;
    display: inline-block;
}
.build-section.bs-b .group-list a img{
    position: absolute;
    left: 0px;
    top: 5px;
}
.ms-overview .ms-card-text{
    margin-bottom: 30px;
}
.faq-sub-title{
    font-size: 15px;
    text-transform: uppercase;
    padding-left: 0px !important;
}
.faq-sub-title:after{
    display: none !important;
}
.build-section.bs-b.faq-sect li{
    padding-left: 15px;
    position: relative;
    margin-bottom: 8px;
}
.build-section.bs-b.faq-sect li:hover a{
    color: #444444;
}
.build-section.bs-b.faq-sect li:hover:after{
    background: #444444;
}
.build-section.bs-b.faq-sect li:after{
    content: '';
    width: 2px;
    height: 2px;
    border-radius: 2px;
    position: absolute;
    top: 12px;
    left: 8px;
    background: rgb(60, 170, 247);;
}
.build-section.bs-b.faq-sect li a{
    padding: 0px;
    font-size: 12px;
    /*z-index: 1051;*/
}
.build-section.bs-b.faq-sect .row > div{
    padding-left: 15px;
    padding-right: 15px;
}
a:focus {outline:0;}
.modal-backdrop.fade.show{
    display: none !important;
}
.build-section.know-base .row > div{
    padding-left: 15px;
    padding-right: 15px;
}
.modal-faq{
    width: 1100px;
    padding: 25px 20px;
    max-width: 100%;
    position: fixed;
    max-height: 400px;
    overflow-y: auto;
    top: calc(50% - 200px);
    z-index: 10;
    background: white;
    left: calc(50% - 550px);
    border: 1px solid #e9ecef;
    display: none;
}
.modal-faq-close{
    width: 17px;
    height: 17px;
    background: url("../img/x.png");
    position: absolute;
    top: 17px;
    right: 13px;
    cursor: pointer;

}
.faq-modal-title{
    font-size: 20px;
    font-weight: 300;
    color: #2d2d2d;
    margin-bottom: 5px;
}
.faq-modal-date{
    font-size: 12px;
    color: #858585;
    font-weight: 300;
    margin-bottom: 15px;
}
.modal-faq p{
    font-weight: 300;
    color: #4c4c4c;
    margin-bottom: 5px;
    font-size: 14px;
}
.modal-faq-code{
    color: #4c4c4c;
    font-family: "Courier New";
    font-size: 14px;
    padding: 25px 20px;
    background: #e9ecef;
    margin-bottom: 10px;
}
.faq-modal-link-content{
    display: none;
}
.ref-section .inner-container{
    display: flex;
}
.ref-content{
    padding-left: 45px;
    padding-top: 50px;
    padding-bottom: 25px;
    font-size: 14px;
    /*width: 100%;*/
}
.ref-menu{
    width: 350px;
    background: #e9ecef;
    padding-left: 35px;
    position: relative;
    display: flex;
    padding-right: 0px;
    font-size: 16px;
    font-weight: 300;
    padding-top: 50px;
    padding-bottom: 20px;
    transition: all .2s ease-in-out
}
.ref-menu.hidden{
    padding-left: 50px;
    width: 35px;
}
.ref-menu ul{
    list-style-type: none;
    padding: 0px;
    width: 315px;
}
.ref-menu ul li{
    margin-bottom: 15px;
    padding-right: 20px;
}
.ref-menu ul li a{
    color: #4c4c4c;
}
.ref-menu ul li a:hover{
    text-decoration: none;
    color: rgb(60, 170, 247);
}
.ref-menu ul li ul{
    padding: 15px 20px;
    background: white;
}
.ref-menu ul li ul li{
    font-size: 12px;
    padding-left: 20px;
    font-size: 12px;
    position: relative;
    margin-bottom: 5px;
}
.ref-menu ul li ul li:after{
    content: '';
    position: absolute;
    top: 8px;
    left: 10px;
    width: 2px;
    height: 2px;
    background: #4c4c4c;
}
.ref-menu ul li ul li:hover:after{
    background: rgb(60, 170, 247);
}
.ref-content h2{
    margin-bottom: 22px;
}
.ref-menu ul li.active ul{
    padding-top: 15px;
}
.ref-menu ul li.active ul li:first-child{
    margin-top: 5px;
}
.ref-content h3{
    font-size: 20px;
    margin-bottom: 15px;
}
.ref-content ul{
    list-style-type: none;
    padding-left: 20px;
}
.ref-content ul li:first-line {
    padding-left: 10px;
}
.ref-content ul li{
    position: relative;
}
.ref-content ul li:after{
    content: '';
    position: absolute;
    left: -6px;
    top: 9px;
    width: 3px;
    height: 3px;
    border-radius: 3px;
    background: #4c4c4c;
}
.code{
    font-family: "Courier New";
    font-size: 14px;
    background: #e9ecef;
    padding: 20px;
    margin-bottom: 10px;
}
.collapse-menu{
    color: #03a9f4;
    font-size: 14px;
    position: absolute;
    top: 20px;
    right: 25px;
    padding-left: 22px;
    cursor: pointer;
}
.collapse-menu img{
    position: absolute;
    left: 0px;
    top: 2px;
}
.ref-menu-container{
    width: 315px;
    overflow: hidden;
    position: relative;
}
.uncollapse{
    position: absolute;
    top: 20px;
    left: 17px;
    transform: rotate(180deg);
    display: none;
    cursor: pointer;
}
.menu-orders{
    padding-left: 32px;
    background: url("../img/menu-b.png") 0px 0px no-repeat;
    color: #03a9f4;
}
.menu-orders a:hover,
.menu-orders a{
    text-decoration: none;
    color: #03a9f4;
}
a.group-title:hover{
    color: #03a9f4;
    text-decoration: none;
}
.main-menu li{
    position: relative;
}
.main-menu li ul{
    /*background: #262626;*/
    padding: 20px 20px;
    position: absolute;
    left: 30px;
    top: 0px;
    display: none;
    width: 190px;
    padding-top: 50px;
    font-size: 12px;
}
.main-menu li ul:before{
    content: '';
    width: 100%;
    height: calc(100% - 35px);
    background: #262626;
    position: absolute;
    top: 35px;
    left: 0px;
}
.main-menu li ul li a{
    font-size: 12px;
    color: #9da59e;
    margin-left: 0px;
}
.main-menu li ul li:hover a{
    font-size: 12px;
}
.main-menu li:hover ul{
    display: block;
}
.color-white{
    color: white;
}
@media screen and (min-width: 768px) {
    .hide-on-desktop{
        display: none !important;
    }
}
@media screen and (max-width: 767px) {
    .hide-on-mobile{
        display: none !important;
    }
    .menu-mobile-buger{
        width: 26px;
        height: 23px;
        background: url("../img/menu-mobile.png") 0px 0px no-repeat;
        position: absolute;
        top: 36px;
        left: 15px;
    }
    .s-header{
        background: white;
        height: auto;
        background: url(../img/head-bg.jpg);
        background-size: auto 100%;
        background-position: 50% 0px;
        padding-top: 0px;
        background-repeat: no-repeat;
    }
    .header-logo{
        top: 25px;
        left: 85px;
    }
    .s-header .inner-container{
        padding: 17px 15px;
    }
    .header-title{
        position: static;
        margin-bottom: 20px;
    }
    .header-search-form{
        position: relative;
        top: auto;
        left: auto;
        margin-bottom: 20px;
    }
    .header-search-form input{
        width: 100%;
        height: 50px;
        font-size: 22px;
        padding-left: 55px;

    }
    .header-search-form input::placeholder{
        font-size: 22px;
    }
    .header-search-form button i{
        font-size: 33px;
    }
    .head-mobile-popular{
        font-weight: 300;
        font-size: 22px;
        color: #3caaf7;
    }
    .webinars .inner-container{
        background: white;
        padding: 37px 15px;
    }
    .banner-text-top{
        font-size: 30px;
    }
    .banner-text-bot{
        font-size: 16px;
        text-transform: uppercase;
        margin-bottom: 12px;
    }
    .register-button-button{
        position: relative;
        top: auto;
        left: auto;
        width: 100%;
        max-width: 375px;
        margin: 0px auto;
        height: 58px;
        border: 3px solid #ff6c00;
        font-size: 22px;
        line-height: 52px;
    }
    .main-ms{
        padding: 40px 15px;
    }
    .ms-card-inner-container{
        padding: 40px 15px 35px;
        margin-bottom: 15px;
    }
    .ms-dig{
        width: 100px;
        height: 100px;
        border-radius: 100px;
        border: 6px solid #ff6c00;
        font-size: 55px;
        line-height: 100px;
        margin-bottom: 35px;
    }
    .ms-card-title{
        font-size: 18px;
    }
    .ms-card-text{
        font-size: 14px;
    }
    .ms-card-code{
        font-size: 14px;
    }
    .ms-card-button{
        width: 100%;
        max-width: 375px;
        height: 55px;
        font-size: 16px;
        left: 0px;
        top: auto;
        bottom: auto;
        display: block;
        position: relative;
        line-height: 53px;
        border: 2px solid rgb(101, 101, 101)
    }
    .build-section{
        padding: 35px 15px;
    }
    .build-section .row > div{
        padding: 0px;
    }
    .build-section .row{
        margin: 0px;
    }
    .build-section .group-title {
        font-size: 24px;
    }
    .build-gray-text {
        font-size: 18px;
        font-weight: 300;
        margin-bottom: 33px;
    }
    .build-section .group-list a {
        font-size: 18px;
        font-weight: 300;
        margin-bottom: 5px;
    }
    .build-section a.group-title{
        font-size: 24px;
        margin-bottom: 5px;
        display: inline-block;
        text-transform: uppercase;
    }
    .group-list li{
        margin-bottom: 10px;
    }
    .footer-menu-container{
        padding: 33px 15px;
    }
    .footer-menu{
        display: block;
        text-align: left;
        margin-bottom: 0px;
    }
    .footer-menu li{
        display: block;
        margin-bottom: 22px;
    }
    .footer-menu li:last-child{
        margin-bottom: 0px;
    }
    .footer-menu li:after{
        display: none;
    }
    .footer-menu a{
        font-size: 16px;
        font-weight: 600;
        margin: 0px;
    }
    .footer-cop-container{
        font-size: 14px;
        font-weight: bold;
        padding: 26px 0px;
    }
    .modal-faq{
        left: 0px;
    }
    .build-section.bs-b.faq-sect .row > div{
        padding: 0px;
    }
    .build-section.bs-b.faq-sect li{
        font-size: 18px;
        font-weight: 600;
    }
    .faq-sect .group-title{
        /*margin-bottom: 25px;*/
    }
    .build-section.bs-b.faq-sect li a{
        font-size: 16px;
        font-weight: 300;
    }
    .build-section.bs-b.faq-sect li{
        margin-bottom: 5px;
    }
    .build-section.bs-b.faq-sect li.faq-sub-title{
        margin-top: 10px;
        color: #4c4c4c;
    }
    .build-section.bs-b.faq-sect .group-title{
        font-size: 18px;
        font-weight: 600;
        text-transform: uppercase;
        margin-top: 10px;
    }
    .build-section.bs-b.faq-sect .inner-container > .group-title{
        font-size: 24px;
        font-weight: 300;
        text-transform: none;
    }
    .build-section.know-base .row > div{
        padding: 0px;
    }
    .build-section.know-base.bs-b .group-list a{
        font-size: 18px;
        font-weight: 500;
        padding: 0px;
        padding-left: 35px;
        margin-bottom: 0px;
    }
    .build-section.bs-b .group-list a img{
        top: 3px;
    }
    .build-section.know-base{
        padding: 0px;
        background: none;
    }
    .build-section.know-base .row > div{
        padding: 35px 15px;
    }
    .build-section.know-base .row > div:nth-child(2n-1){
        background: #e9ecef;
    }
    .ref-section .inner-container{
        display: block;
    }
    .ref-menu{
        display: none;
    }
    .ref-content{
        padding: 40px 30px;
        font-size: 18px;
        font-weight: 300;
    }
    .ref-content h2{
        font-size: 24px;
        font-weight: 300;
        margin-bottom: 25px;
    }
    .ref-content h3{
        font-size: 22px;
        font-weight: normal;
    }
    .ref-content ul{
        padding-left: 40px;
    }
    .ref-content ul li:after {
        content: '';
        left: -12px;
        top: 13px;
    }
    .code{
        padding: 18px 23px;
        line-height: 1.7;
        margin-bottom: 25px;
    }
    .ref-content h3{
        margin-bottom: 10px;
    }
    .ref-menu-mobile{
        padding: 8px 15px;
        background: #3caaf7;
    }
    .ref-menu-mobile select{
        width: 100%;
        border-radius: 3px;
        height: 36px;
        font-size: 16px;
        font-weight: 300;
        padding: 0px 12px;
        border: none;
    }
    .ref-menu-mobile select:focus,
    .ref-menu-mobile select:active{
        border: none;
    }
    .mobile-menuu{
        background: white;
        padding: 0px;
        list-style-type: none;
    }
    .mobile-header-container{
        height: auto;
        position: relative;
        padding-top: 100px;
    }
    .mobile-menu-container{
        max-height: 0;
        transition: max-height 0.2s ease-out;
        overflow: hidden;
    }
    .opened.mobile-menu-container{
        max-height: 1000px;
        transition: max-height 0.2s ease-in;
    }
    .mobile-menu-container{
        padding: 0px 15px;
    }
    .mobile-menuu li{

        position: relative;
    }
    .mobile-menuu li a:after{
        content: '';
        width: 6px;
        height: 10px;
        background: url("../img/chevr.png");
        position: absolute;
        top: 20px;
        right: 3px;
    }
    .mobile-menuu li a{
        color: #858585;
        font-size: 16px;
        position: relative;
        min-height: 56px;
        line-height: 56px;
        display: block;
        border-bottom: 1px solid #858585;
    }
    .mobile-menuu > li:last-child > a{
        border-bottom: none;
    }
    .mobile-menuu > li:last-child ul li:first-child a{
        border-top: 1px solid #858585;
    }
    .mobile-menuu > li:last-child ul li:last-child a{
       border-bottom: none;
    }
    .mobile-menuu li.active > a{
        color: #ff6c00;
    }
    .mobile-menuu li.active > a:after{
        transform: rotate(90deg);
    }
    .mobile-menuu li ul{
        padding: 0px;
        list-style-type: none;
        max-height: 0;
        transition: max-height 0.15s ease-out;
        overflow: hidden;
    }
    .mobile-menuu li.active ul{
        max-height: 500px;
        transition: max-height 0.25s ease-in;
    }
    .mobile-menuu li ul a{
        padding-left: 30px;
        font-size: 14px;
    }
    .mobile-menuu li ul a:after{
        display: none;
    }
}
@media screen and (min-width: 768px) and (max-width: 1099px) {
    .s-header{
        padding-left: 15px;
        padding-right: 15px;
        background-size: auto 100% ;
    }
    .main-menu{
        right: 15px;
    }
    .banner-text-top {
        font-size: 20px;
        padding-right: 50%;
    }
    .webinars,
    .build-section{
        padding-left: 15px;
        padding-right: 15px;
    }
    .ref-content{
        padding-right: 20px;
        padding-left: 30px;
    }
}